In [ ]:
import pandas as pd
import polars as pl
import pyarrow as pa
import pyarrow.csv as csv

import os

In [ ]:
des_xl = pd.read_excel("./data/description.xlsx")
des = des_xl.copy()

In [ ]:
FILE_PATH = "./data/0401-0515VoltS.csv"

In [4]:
des

    No      항목      설명
0    1    curr  최대 전류값
1    2   currR    R전류값
2    3   currS    S전류값
3    4   currT     전류값
4    5  Ground    누설전류
5    6   PT100      온도
6    7   Vibra      진동
7    8    Volt    평균전압
8    9   VoltR   R전압상간
9   10   VoltS  S전압 상간
10  11   VoltT  T전압 상간

In [ ]:
df_pl_raw = pl.read_csv(FILE_PATH, 
                    # encoding="utf-8", 
                    # infer_schema_length=10000,
                    # ignore_errors=True,
                    # null_values=["\\N"],
                    # truncate_ragged_lines=True,
                    quote_char=None 
                    )
df_pl = df_pl_raw.clone()

In [6]:
len(df_pl.columns)

22

In [ ]:
# Cell 7에 추가:
# \N으로 시작하지 않는 컬럼만 선택
df_pl_filtered = df_pl.select([
    col for col in df_pl.columns 
    if not col.startswith('\\N')
])

In [8]:
df_pl_filtered.columns

['"2021-04-01 00:00:00.100"',
 '"100"',
 '"222"',
 '"224.4"',
 '"225.8"',
 '"222.3"',
 '"223.3"',
 '"223"',
 '"219.4"',
 '"221"',
 '"218.4"',
 '"221.9"']

In [9]:
des

    No      항목      설명
0    1    curr  최대 전류값
1    2   currR    R전류값
2    3   currS    S전류값
3    4   currT     전류값
4    5  Ground    누설전류
5    6   PT100      온도
6    7   Vibra      진동
7    8    Volt    평균전압
8    9   VoltR   R전압상간
9   10   VoltS  S전압 상간
10  11   VoltT  T전압 상간

In [ ]:
col_names = des.항목

In [ ]:
col_lis = col_names.tolist()

In [12]:
col_lis

['curr',
 'currR',
 'currS',
 'currT',
 'Ground',
 'PT100',
 'Vibra',
 'Volt',
 'VoltR',
 'VoltS',
 'VoltT']

In [ ]:
col_lis.insert(0, "time")

In [14]:
col_lis

['time',
 'curr',
 'currR',
 'currS',
 'currT',
 'Ground',
 'PT100',
 'Vibra',
 'Volt',
 'VoltR',
 'VoltS',
 'VoltT']

In [15]:
len(col_lis)

12

In [ ]:
df_pl_col = df_pl_filtered.rename(dict(zip(df_pl_filtered.columns, col_lis)))

In [17]:
df_pl_col

shape: (4_925_680, 12)
┌───────────────┬───────┬─────────┬─────────┬───┬─────────┬─────────┬─────────┬─────────┐
│ time          ┆ curr  ┆ currR   ┆ currS   ┆ … ┆ Volt    ┆ VoltR   ┆ VoltS   ┆ VoltT   │
│ ---           ┆ ---   ┆ ---     ┆ ---     ┆   ┆ ---     ┆ ---     ┆ ---     ┆ ---     │
│ str           ┆ str   ┆ str     ┆ str     ┆   ┆ str     ┆ str     ┆ str     ┆ str     │
╞═══════════════╪═══════╪═════════╪═════════╪═══╪═════════╪═════════╪═════════╪═════════╡
│ "2021-04-01   ┆ "200" ┆ "222.1" ┆ "224.4" ┆ … ┆ "219.4" ┆ "221"   ┆ "218.4" ┆ "221.9" │
│ 00:00:00.200" ┆       ┆         ┆         ┆   ┆         ┆         ┆         ┆         │
│ "2021-04-01   ┆ "300" ┆ "222"   ┆ "224.4" ┆ … ┆ "219.4" ┆ "220.9" ┆ "218.4" ┆ "221.9" │
│ 00:00:00.300" ┆       ┆         ┆         ┆   ┆         ┆         ┆         ┆         │
│ "2021-04-01   ┆ "400" ┆ "222"   ┆ "224.5" ┆ … ┆ "219.5" ┆ "220.9" ┆ "218.5" ┆ "221.9" │
│ 00:00:00.400" ┆       ┆         ┆         ┆   ┆         ┆         ┆         ┆         │
│ "2021-04-01   ┆ "500" ┆ "221.9" ┆ "224.3" ┆ … ┆ "219.4" ┆ "220.8" ┆ "218.4" ┆ "221.8" │
│ 00:00:00.500" ┆       ┆         ┆         ┆   ┆         ┆         ┆         ┆         │
│ "2021-04-01   ┆ "600" ┆ "221.9" ┆ "224.2" ┆ … ┆ "219.4" ┆ "220.8" ┆ "218.4" ┆ "221.7" │
│ 00:00:00.600" ┆       ┆         ┆         ┆   ┆         ┆         ┆         ┆         │
│ …             ┆ …     ┆ …       ┆ …       ┆ … ┆ …       ┆ …       ┆ …       ┆ …       │
│ "2021-04-06   ┆ "700" ┆ "221.8" ┆ "224"   ┆ … ┆ "220.9" ┆ "221"   ┆ "218.5" ┆ "222.1" │
│ 16:49:27.700" ┆       ┆         ┆         ┆   ┆         ┆         ┆         ┆         │
│ "2021-04-06   ┆ "800" ┆ "221.8" ┆ "224"   ┆ … ┆ "220.9" ┆ "221"   ┆ "218.5" ┆ "222.1" │
│ 16:49:27.800" ┆       ┆         ┆         ┆   ┆         ┆         ┆         ┆         │
│ "2021-04-06   ┆ "900" ┆ "221.9" ┆ "224"   ┆ … ┆ "220.9" ┆ "221.1" ┆ "218.5" ┆ "222.2" │
│ 16:49:27.900" ┆       ┆         ┆         ┆   ┆         ┆         ┆         ┆         │
│ "2021-04-06   ┆ "0"   ┆ "221.8" ┆ "224.2" ┆ … ┆ "220.9" ┆ "221"   ┆ "218.5" ┆ "222.1" │
│ 16:49:28.000" ┆       ┆         ┆         ┆   ┆         ┆         ┆         ┆         │
│ "2021-04-06   ┆ null  ┆ null    ┆ null    ┆ … ┆ null    ┆ null    ┆ null    ┆ null    │
└───────────────┴───────┴─────────┴─────────┴───┴─────────┴─────────┴─────────┴─────────┘

In [18]:
df_pl_col.schema

Schema([('time', String),
        ('curr', String),
        ('currR', String),
        ('currS', String),
        ('currT', String),
        ('Ground', String),
        ('PT100', String),
        ('Vibra', String),
        ('Volt', String),
        ('VoltR', String),
        ('VoltS', String),
        ('VoltT', String)])

In [19]:
des

    No      항목      설명
0    1    curr  최대 전류값
1    2   currR    R전류값
2    3   currS    S전류값
3    4   currT     전류값
4    5  Ground    누설전류
5    6   PT100      온도
6    7   Vibra      진동
7    8    Volt    평균전압
8    9   VoltR   R전압상간
9   10   VoltS  S전압 상간
10  11   VoltT  T전압 상간

In [ ]:
df.with_columns(pl.col("a").cast(pl.Float64))

In [28]:
df_pl_col[:3]

shape: (3, 12)
┌───────────────┬───────┬─────────┬─────────┬───┬─────────┬─────────┬─────────┬─────────┐
│ time          ┆ curr  ┆ currR   ┆ currS   ┆ … ┆ Volt    ┆ VoltR   ┆ VoltS   ┆ VoltT   │
│ ---           ┆ ---   ┆ ---     ┆ ---     ┆   ┆ ---     ┆ ---     ┆ ---     ┆ ---     │
│ str           ┆ str   ┆ str     ┆ str     ┆   ┆ str     ┆ str     ┆ str     ┆ str     │
╞═══════════════╪═══════╪═════════╪═════════╪═══╪═════════╪═════════╪═════════╪═════════╡
│ "2021-04-01   ┆ "200" ┆ "222.1" ┆ "224.4" ┆ … ┆ "219.4" ┆ "221"   ┆ "218.4" ┆ "221.9" │
│ 00:00:00.200" ┆       ┆         ┆         ┆   ┆         ┆         ┆         ┆         │
│ "2021-04-01   ┆ "300" ┆ "222"   ┆ "224.4" ┆ … ┆ "219.4" ┆ "220.9" ┆ "218.4" ┆ "221.9" │
│ 00:00:00.300" ┆       ┆         ┆         ┆   ┆         ┆         ┆         ┆         │
│ "2021-04-01   ┆ "400" ┆ "222"   ┆ "224.5" ┆ … ┆ "219.5" ┆ "220.9" ┆ "218.5" ┆ "221.9" │
│ 00:00:00.400" ┆       ┆         ┆         ┆   ┆         ┆         ┆         ┆         │
└───────────────┴───────┴─────────┴─────────┴───┴─────────┴─────────┴─────────┴─────────┘

In [ ]:
df_pl_col = df_pl_col.with_columns(
    pl.col("time")
    .str.strip_chars('"')  # 양쪽 끝의 " 문자들을 모두 벗겨냄
    .str.to_datetime("%Y-%m-%d %H:%M:%S%.3f", strict=False)
)

In [ ]:
df_pl_col = df_pl_col.with_columns(
    pl.col(pl.String)              # 모든 문자열 컬럼 선택
    .str.strip_chars('"')          # 따옴표 제거
    .cast(pl.Float64, strict=False) # 실수형으로 변환 (에러 발생 시 null 처리)
)

In [51]:
df_pl_col.schema

Schema([('time', Datetime(time_unit='ms', time_zone=None)),
        ('curr', Float64),
        ('currR', Float64),
        ('currS', Float64),
        ('currT', Float64),
        ('Ground', Float64),
        ('PT100', Float64),
        ('Vibra', Float64),
        ('Volt', Float64),
        ('VoltR', Float64),
        ('VoltS', Float64),
        ('VoltT', Float64)])

In [50]:
df_pl_col

shape: (4_925_680, 12)
┌─────────────────────────┬───────┬───────┬───────┬───┬───────┬───────┬───────┬───────┐
│ time                    ┆ curr  ┆ currR ┆ currS ┆ … ┆ Volt  ┆ VoltR ┆ VoltS ┆ VoltT │
│ ---                     ┆ ---   ┆ ---   ┆ ---   ┆   ┆ ---   ┆ ---   ┆ ---   ┆ ---   │
│ datetime[ms]            ┆ f64   ┆ f64   ┆ f64   ┆   ┆ f64   ┆ f64   ┆ f64   ┆ f64   │
╞═════════════════════════╪═══════╪═══════╪═══════╪═══╪═══════╪═══════╪═══════╪═══════╡
│ 2021-04-01 00:00:00.200 ┆ 200.0 ┆ 222.1 ┆ 224.4 ┆ … ┆ 219.4 ┆ 221.0 ┆ 218.4 ┆ 221.9 │
│ 2021-04-01 00:00:00.300 ┆ 300.0 ┆ 222.0 ┆ 224.4 ┆ … ┆ 219.4 ┆ 220.9 ┆ 218.4 ┆ 221.9 │
│ 2021-04-01 00:00:00.400 ┆ 400.0 ┆ 222.0 ┆ 224.5 ┆ … ┆ 219.5 ┆ 220.9 ┆ 218.5 ┆ 221.9 │
│ 2021-04-01 00:00:00.500 ┆ 500.0 ┆ 221.9 ┆ 224.3 ┆ … ┆ 219.4 ┆ 220.8 ┆ 218.4 ┆ 221.8 │
│ 2021-04-01 00:00:00.600 ┆ 600.0 ┆ 221.9 ┆ 224.2 ┆ … ┆ 219.4 ┆ 220.8 ┆ 218.4 ┆ 221.7 │
│ …                       ┆ …     ┆ …     ┆ …     ┆ … ┆ …     ┆ …     ┆ …     ┆ …     │
│ 2021-04-06 16:49:27.700 ┆ 700.0 ┆ 221.8 ┆ 224.0 ┆ … ┆ 220.9 ┆ 221.0 ┆ 218.5 ┆ 222.1 │
│ 2021-04-06 16:49:27.800 ┆ 800.0 ┆ 221.8 ┆ 224.0 ┆ … ┆ 220.9 ┆ 221.0 ┆ 218.5 ┆ 222.1 │
│ 2021-04-06 16:49:27.900 ┆ 900.0 ┆ 221.9 ┆ 224.0 ┆ … ┆ 220.9 ┆ 221.1 ┆ 218.5 ┆ 222.2 │
│ 2021-04-06 16:49:28     ┆ 0.0   ┆ 221.8 ┆ 224.2 ┆ … ┆ 220.9 ┆ 221.0 ┆ 218.5 ┆ 222.1 │
│ null                    ┆ null  ┆ null  ┆ null  ┆ … ┆ null  ┆ null  ┆ null  ┆ null  │
└─────────────────────────┴───────┴───────┴───────┴───┴───────┴───────┴───────┴───────┘

In [ ]:
df_clean = df_pl_col.drop_nulls()

In [54]:
df_clean

shape: (4_925_624, 12)
┌─────────────────────────┬───────┬───────┬───────┬───┬───────┬───────┬───────┬───────┐
│ time                    ┆ curr  ┆ currR ┆ currS ┆ … ┆ Volt  ┆ VoltR ┆ VoltS ┆ VoltT │
│ ---                     ┆ ---   ┆ ---   ┆ ---   ┆   ┆ ---   ┆ ---   ┆ ---   ┆ ---   │
│ datetime[ms]            ┆ f64   ┆ f64   ┆ f64   ┆   ┆ f64   ┆ f64   ┆ f64   ┆ f64   │
╞═════════════════════════╪═══════╪═══════╪═══════╪═══╪═══════╪═══════╪═══════╪═══════╡
│ 2021-04-01 00:00:00.200 ┆ 200.0 ┆ 222.1 ┆ 224.4 ┆ … ┆ 219.4 ┆ 221.0 ┆ 218.4 ┆ 221.9 │
│ 2021-04-01 00:00:00.300 ┆ 300.0 ┆ 222.0 ┆ 224.4 ┆ … ┆ 219.4 ┆ 220.9 ┆ 218.4 ┆ 221.9 │
│ 2021-04-01 00:00:00.400 ┆ 400.0 ┆ 222.0 ┆ 224.5 ┆ … ┆ 219.5 ┆ 220.9 ┆ 218.5 ┆ 221.9 │
│ 2021-04-01 00:00:00.500 ┆ 500.0 ┆ 221.9 ┆ 224.3 ┆ … ┆ 219.4 ┆ 220.8 ┆ 218.4 ┆ 221.8 │
│ 2021-04-01 00:00:00.600 ┆ 600.0 ┆ 221.9 ┆ 224.2 ┆ … ┆ 219.4 ┆ 220.8 ┆ 218.4 ┆ 221.7 │
│ …                       ┆ …     ┆ …     ┆ …     ┆ … ┆ …     ┆ …     ┆ …     ┆ …     │
│ 2021-04-06 16:49:27.600 ┆ 600.0 ┆ 221.8 ┆ 224.1 ┆ … ┆ 220.9 ┆ 221.1 ┆ 218.5 ┆ 222.0 │
│ 2021-04-06 16:49:27.700 ┆ 700.0 ┆ 221.8 ┆ 224.0 ┆ … ┆ 220.9 ┆ 221.0 ┆ 218.5 ┆ 222.1 │
│ 2021-04-06 16:49:27.800 ┆ 800.0 ┆ 221.8 ┆ 224.0 ┆ … ┆ 220.9 ┆ 221.0 ┆ 218.5 ┆ 222.1 │
│ 2021-04-06 16:49:27.900 ┆ 900.0 ┆ 221.9 ┆ 224.0 ┆ … ┆ 220.9 ┆ 221.1 ┆ 218.5 ┆ 222.2 │
│ 2021-04-06 16:49:28     ┆ 0.0   ┆ 221.8 ┆ 224.2 ┆ … ┆ 220.9 ┆ 221.0 ┆ 218.5 ┆ 222.1 │
└─────────────────────────┴───────┴───────┴───────┴───┴───────┴───────┴───────┴───────┘

In [55]:
df_clean.null_count()

shape: (1, 12)
┌──────┬──────┬───────┬───────┬───┬──────┬───────┬───────┬───────┐
│ time ┆ curr ┆ currR ┆ currS ┆ … ┆ Volt ┆ VoltR ┆ VoltS ┆ VoltT │
│ ---  ┆ ---  ┆ ---   ┆ ---   ┆   ┆ ---  ┆ ---   ┆ ---   ┆ ---   │
│ u32  ┆ u32  ┆ u32   ┆ u32   ┆   ┆ u32  ┆ u32   ┆ u32   ┆ u32   │
╞══════╪══════╪═══════╪═══════╪═══╪══════╪═══════╪═══════╪═══════╡
│ 0    ┆ 0    ┆ 0     ┆ 0     ┆ … ┆ 0    ┆ 0     ┆ 0     ┆ 0     │
└──────┴──────┴───────┴───────┴───┴──────┴───────┴───────┴───────┘

In [ ]:
df_clean.write_csv("./data/deoksan.csv")